<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

***Note***:- If you are working Locally using anaconda, please uncomment the following code and execute it.
Use the version as per your python version.

In [ ]:
!pip install yfinance
!pip install bs4
!pip install nbformat
!pip install --upgrade plotly

In [1]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
import plotly.io as pio
pio.renderers.default = "iframe"

In Python, you can ignore warnings using the warnings module. You can use the filterwarnings function to filter or ignore specific warning messages or categories.

In [3]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Define Graphing Function

In this section, we define the function `make_graph`. **You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.**

In [4]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()
    from IPython.display import display, HTML
    fig_html = fig.to_html()
    display(HTML(fig_html))

Use the make_graph function that we’ve already defined. You’ll need to invoke it in questions 5 and 6 to display the graphs and create the dashboard. 
> **Note: You don’t need to redefine the function for plotting graphs anywhere else in this notebook; just use the existing function.**

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [5]:
tesla = yf.Ticker("TSLA")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [8]:
tesla_info = tesla.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [78]:
tesla_data.reset_index(inplace=True)
tesla_data

    index        Date  Revenue
0       0  2022-09-30  $21,454
1       0  2022-06-30  $16,934
2       0  2022-03-31  $18,756
3       0  2021-12-31  $17,719
4       0  2021-09-30  $13,757
5       0  2021-06-30  $11,958
6       0  2021-03-31  $10,389
7       0  2020-12-31  $10,744
8       0  2020-09-30   $8,771
9       0  2020-06-30   $6,036
10      0  2020-03-31   $5,985
11      0  2019-12-31   $7,384
12      0  2019-09-30   $6,303
13      0  2019-06-30   $6,350
14      0  2019-03-31   $4,541
15      0  2018-12-31   $7,226
16      0  2018-09-30   $6,824
17      0  2018-06-30   $4,002
18      0  2018-03-31   $3,409
19      0  2017-12-31   $3,288
20      0  2017-09-30   $2,985
21      0  2017-06-30   $2,790
22      0  2017-03-31   $2,696
23      0  2016-12-31   $2,285
24      0  2016-09-30   $2,298
25      0  2016-06-30   $1,270
26      0  2016-03-31   $1,147
27      0  2015-12-31   $1,214
28      0  2015-09-30     $937
29      0  2015-06-30     $955
30      0  2015-03-31     $940
31      0  2014-12-31     $957
32      0  2014-09-30     $852
33      0  2014-06-30     $769
34      0  2014-03-31     $621
35      0  2013-12-31     $615
36      0  2013-09-30     $431
37      0  2013-06-30     $405
38      0  2013-03-31     $562
39      0  2012-12-31     $306
40      0  2012-09-30      $50
41      0  2012-06-30      $27
42      0  2012-03-31      $30
43      0  2011-12-31      $39
44      0  2011-09-30      $58
45      0  2011-06-30      $58
46      0  2011-03-31      $49
47      0  2010-12-31      $36
48      0  2010-09-30      $31
49      0  2010-06-30      $28
50      0  2010-03-31      $21
51      0  2009-12-31
52      0  2009-09-30      $46
53      0  2009-06-30      $27

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [12]:
data = requests.get("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm")

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.

In [14]:
soup = BeautifulSoup(data.text,'html.parser')

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Step-by-step instructions</summary>

```

Here are the step-by-step instructions:

1. Create an Empty DataFrame
2. Find the Relevant Table
3. Check for the Tesla Quarterly Revenue Table
4. Iterate Through Rows in the Table Body
5. Extract Data from Columns
6. Append Data to the DataFrame

```
</details>

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1

We are focusing on quarterly revenue in the lab.
```

</details>

In [42]:
#print(list(soup.find_all("tbody")[1].find_all('tr')))
tesla_revenue = pd.DataFrame(columns=["Date","Revenue"])
for row in soup.find_all("tbody")[1].find_all("tr"):
    col = row.find_all('td')
    Date = col[0].text
    Revenue = col[1].text

    tesla_revenue = pd.concat([tesla_revenue,pd.DataFrame({'Date': [Date],'Revenue': [Revenue]})])
tesla_revenue

         Date  Revenue
0  2022-09-30  $21,454
0  2022-06-30  $16,934
0  2022-03-31  $18,756
0  2021-12-31  $17,719
0  2021-09-30  $13,757
0  2021-06-30  $11,958
0  2021-03-31  $10,389
0  2020-12-31  $10,744
0  2020-09-30   $8,771
0  2020-06-30   $6,036
0  2020-03-31   $5,985
0  2019-12-31   $7,384
0  2019-09-30   $6,303
0  2019-06-30   $6,350
0  2019-03-31   $4,541
0  2018-12-31   $7,226
0  2018-09-30   $6,824
0  2018-06-30   $4,002
0  2018-03-31   $3,409
0  2017-12-31   $3,288
0  2017-09-30   $2,985
0  2017-06-30   $2,790
0  2017-03-31   $2,696
0  2016-12-31   $2,285
0  2016-09-30   $2,298
0  2016-06-30   $1,270
0  2016-03-31   $1,147
0  2015-12-31   $1,214
0  2015-09-30     $937
0  2015-06-30     $955
0  2015-03-31     $940
0  2014-12-31     $957
0  2014-09-30     $852
0  2014-06-30     $769
0  2014-03-31     $621
0  2013-12-31     $615
0  2013-09-30     $431
0  2013-06-30     $405
0  2013-03-31     $562
0  2012-12-31     $306
0  2012-09-30      $50
0  2012-06-30      $27
0  2012-03-31      $30
0  2011-12-31      $39
0  2011-09-30      $58
0  2011-06-30      $58
0  2011-03-31      $49
0  2010-12-31      $36
0  2010-09-30      $31
0  2010-06-30      $28
0  2010-03-31      $21
0  2009-12-31
0  2009-09-30      $46
0  2009-06-30      $27

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [74]:
tesla_revenue['Revenue'] = tesla_revenue['Revenue'].str.replace(',',"")
tesla_revenue['Revenue'] = tesla_revenue['Revenue'].str.replace('$',"")

/tmp/ipykernel_1367/2270518934.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/tmp/ipykernel_1367/2270518934.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Execute the following lines to remove an null or empty strings in the Revenue column.

In [75]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

/tmp/ipykernel_1367/2273276853.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [76]:
tesla_revenue.tail(5)

         Date Revenue
0  2010-09-30      31
0  2010-06-30      28
0  2010-03-31      21
0  2009-09-30      46
0  2009-06-30      27

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [47]:
GME = yf.Ticker('GME')

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [48]:
gme_data = pd.DataFrame(GME.history(period="max"))

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [49]:
gme_data.reset_index(inplace=True)

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named `html_data_2`.

In [50]:
html_data_2 = requests.get(" https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html")

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.

In [53]:
soup = BeautifulSoup(html_data_2.text, 'html.parser')

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column.

> **Note: Use the method similar to what you did in question 2.**

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [72]:
gme_revenue = pd.DataFrame(columns=['Date','Revenue'])

for row in soup.find_all('tbody')[0].find_all('tr'):
    col = row.find_all('td')
    Date = col[0].text
    Revenue = col[1].text
    
    gme_revenue = pd.concat([gme_revenue,pd.DataFrame({'Date':[Date],'Revenue':[Revenue]})])
   
gme_revenue['Revenue'] = gme_revenue['Revenue'].str.replace(',',"")
gme_revenue['Revenue'] = gme_revenue['Revenue'].str.replace('$',"")

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [73]:
gme_revenue.tail(5)

   Date Revenue
0  2009    8806
0  2008    7094
0  2007    5319
0  2006    3092
0  2005    1843

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. Note the graph will only show data upto June 2021.

<details><summary>Hint</summary>

```

You just need to invoke the make_graph function with the required parameter to print the graphs.The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`.

```
    
</details>

In [77]:
make_graph(tesla_data, tesla_revenue, 'Tesla')

/tmp/ipykernel_1367/109047474.py:5: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

AttributeError: 'DataFrame' object has no attribute 'Close'

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

<details><summary>Hint</summary>

```

You just need to invoke the make_graph function with the required parameter to print the graphs.The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`

```
    
</details>

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>